a {
  text-decoration: none;
  color: #0073b1;
}

body {
  margin: 0;
  color: #243131;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

.content {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

p,
h2,
h3,
h4,
blockquote,
section {
  margin: 1em 0.3rem;
}

h2 {
  font-size: 1.2rem;
}

blockquote {
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
}

.emph {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.header-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #f5f5f5;
  box-shadow: 0px 0.1rem 0.1rem #e0e0e0;
}

@media only screen and (min-width: 992px) {
  .header-container {
    border-bottom: 1px solid #243131;
    box-shadow: none;
  }
}
header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 3.5rem;
  padding-right: 0.4rem;
}
header a {
  height: 3.5rem;
  display: flex;
  align-items: center;
}
header img {
  height: 2.5rem;
  margin: 0 0.5rem;
}
header h1 {
  font-size: 1.25rem;
  font-weight: 500;
}
header a:nth-of-type(2) {
  margin-left: auto;
}
header .social {
  height: 1.9rem;
  margin: 0 0.4rem;
}

main {
  position: relative;
  top: 3.5rem;
}

.nav-filler {
  height: 5.5rem;
}

.fab {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #ffc400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab,
.fab:visited {
  color: #fafafa;
  text-decoration: none;
}

.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  height: 3.5rem;
}
.nav-container div {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
}
nav a {
  flex-grow: 2;
  line-height: 3.5rem;
  font-weight: 600;
  text-align: center;
}
nav a,
nav a:visited {
  color: #7d7d7d;
}
nav .empty {
  width: 5.5rem;
  flex-grow: 1;
}
nav .active,
nav .active:visited {
  border-bottom: 0.5em solid #ffc400;
  color: #243131;
}

@media only screen and (min-width: 992px) {
  .nav-container {
    top: -1px;
    z-index: 2;
  }

  nav {
    position: absolute;
    right: 6rem;
    width: 42rem;
    border-bottom: 1px solid #243131;
  }
  nav .empty {
    display: none;
  }

  .active,
.active:visited {
    border-bottom: 0.5em solid #ffc400;
  }

  .fab {
    display: none;
  }

  .nav-filler {
    display: none;
  }
}
/* No normal bullets please */
ul {
  list-style-type: none;
  padding-left: 1rem;
}

li {
  /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
  position: relative;
  /* Use padding to space things out rather than margins as the line would get broken up otherwise */
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 20px;
}

/* The actual line being placed before each list item, tweak width and color as appropriate */
li:before {
  background-color: #243131;
  width: 2px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
}

/* Start the line further down on the first list item */
li:first-child:before {
  top: 10px;
}

/* Stop the line short on the final list item */
li:last-child:before {
  height: 6px;
}

/* Small bullets for normal list items */
li::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23243131' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
}

/* Align right */
ul {
  text-align: right;
  padding-left: initial;
  padding-right: 10%;
}

li {
  padding-left: initial;
  padding-right: 20px;
}

li:before {
  left: initial;
  right: 5px;
}

li::after {
  left: initial;
  right: 0;
}

/* end aligh right */
.head {
  background-image: url("../images/contatti/copertina-contatti.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  display: flex;
}
.head img {
  margin: 1rem auto;
  border-radius: 50%;
  width: 7rem;
}

p {
  margin: 1rem 1.5rem;
}

.text {
  text-align: center;
}

.text.light {
  font-style: italic;
}

h2 {
  margin: 0.6rem 1rem;
  font-weight: 700;
}

.subtitle {
  margin: 0.6rem 1rem;
}

.address {
  margin: 0.6rem 1rem;
}

.contatti {
  margin: 2rem 3rem;
  display: grid;
  grid-template-columns: 2rem auto;
}
.contatti svg {
  grid-column: 1/2;
  grid-row: span 2;
}
.contatti a,
.contatti h4 {
  grid-column: 2/3;
  margin: 0 1rem;
}
.contatti a {
  margin-bottom: 1rem;
}
.contatti a:last-child {
  margin-bottom: 0;
}

#list-container {
  position: relative;
}

ul::before, ul::after {
  content: "";
  z-index: -1;
  background-image: url("../images/contatti/copertina-contatti.png");
  opacity: 50%;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

ul::before {
  transform: scaleY(-1);
  top: -75%;
}

ul::after {
  top: 25%;
}

@media only screen and (min-width: 992px) {
  ul::before, ul::after {
    display: none;
  }

  #name {
    grid-area: name;
  }

  .subtitle {
    grid-area: subtitle;
  }

  .address {
    grid-area: address;
  }

  .contatti {
    grid-area: contatti;
  }

  #main-text {
    grid-area: testo;
  }

  #list-container {
    grid-area: list-container;
  }

  #conclusione {
    grid-area: conclusione;
  }

  .head {
    grid-area: head;
  }

  .content {
    display: grid;
    grid-template-areas: ". name head ." ". subtitle head ." ". address head ." ". contatti head ." ". list-container head ." "testo testo testo testo" "conclusiuone conclusione conclusione conclusione";
    grid-template-columns: 1fr 20.75rem 50% 1fr;
  }

  h2 {
    margin-top: 7rem;
  }

  .head > img {
    margin: auto;
    width: 15rem;
    background-color: #ffc400;
  }

  .head {
    background-repeat: no-repeat;
    background-position: center -10rem;
  }

  .head,
.head > img {
    transform: scaleY(-1);
  }

  .contatti {
    margin: 2rem 1rem;
  }

  ul {
    padding-right: 4rem;
  }

  #main-text {
    margin-top: 3rem;
  }

  .content {
    position: relative;
  }

  .content::before, .content::after {
    content: "";
    z-index: -1;
    background-image: url("../images/contatti/copertina-contatti.png");
    opacity: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    height: 5.25rem;
  }

  .content::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .content::after {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(-1);
    max-width: 1200px;
    margin: auto;
  }
}

/*# sourceMappingURL=contatti.css.map */
