 /* BLOCCO IMAGGINI 1 */
#container-mainblock {
    padding: 1rem;
}

#title-pag-progetto {
    padding-bottom: 2rem;
}

#mainblock-content {
    display: grid;
    width: 100%;
    grid-template-areas: "title title" "text image";
    grid-template-columns: 25% 75%;
}

#mainblock-content > h1 {
    grid-area: title;
}

#mainblock-content > p {
    grid-area: text;
}

#mainblock-content > img {
    grid-area: image;
    justify-self: right;
    width: 90%;
}


/* BLOCCO IMMAGINI 2 */
#container-secondary {
    background-color: #FAE26B;
    padding: 4rem 0;
}

#secondary {
    display: grid;
    width: 100%;
    grid-template-areas: "img text";
    grid-template-columns: 50% 50%;
}

#secondary > img {
    width: 90%;
    justify-content: left;
    grid-area: img;
}

#secondary > p {
    grid-area: text;
}

/* BLOCCO IMMAGINI 3 */
#container-tertiary {
    padding: 4rem 0;
}

#tertiary {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

#tertiary > img {
    width: 95%;
    justify-self: center;
    align-self: center;
}

#sezioni {
    padding: 2rem;
}


/* BLOCCO IMMAGINI 4 */
#container-quaternary {
    padding-bottom: 2rem;
}

#quaternary {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

#quaternary > img {
    width: 95%;
    justify-self: center;
    align-self: center;
}

#sezioni {
    padding: 2rem;
}

/* BLOCCO IMMAGINI 5 */
#container-five {
    padding: 0;
}

#five {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

#five > img {
    width: 95%;
    justify-self: center;
    align-self: center;
}

#sezioni {
    padding: 2rem;
}