a {
  text-decoration: none;
  color: #0073b1;
}

body {
  margin: 0;
  color: #243131;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

.content {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

p,
h2,
h3,
h4,
blockquote,
section {
  margin: 1em 0.3rem;
}

h2 {
  font-size: 1.2rem;
}

blockquote {
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
}

.emph {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.header-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #f5f5f5;
  box-shadow: 0px 0.1rem 0.1rem #e0e0e0;
}

@media only screen and (min-width: 992px) {
  .header-container {
    border-bottom: 1px solid #243131;
    box-shadow: none;
  }
}
header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 3.5rem;
  padding-right: 0.4rem;
}
header a {
  height: 3.5rem;
  display: flex;
  align-items: center;
}
header img {
  height: 2.5rem;
  margin: 0 0.5rem;
}
header h1 {
  font-size: 1.25rem;
  font-weight: 500;
}
header a:nth-of-type(2) {
  margin-left: auto;
}
header .social {
  height: 1.9rem;
  margin: 0 0.4rem;
}

main {
  position: relative;
  top: 3.5rem;
}

.nav-filler {
  height: 5.5rem;
}

.fab {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #ffc400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab,
.fab:visited {
  color: #fafafa;
  text-decoration: none;
}

.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  height: 3.5rem;
}
.nav-container div {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
}
nav a {
  flex-grow: 2;
  line-height: 3.5rem;
  font-weight: 600;
  text-align: center;
}
nav a,
nav a:visited {
  color: #7d7d7d;
}
nav .empty {
  width: 5.5rem;
  flex-grow: 1;
}
nav .active,
nav .active:visited {
  border-bottom: 0.5em solid #ffc400;
  color: #243131;
}

@media only screen and (min-width: 992px) {
  .nav-container {
    top: -1px;
    z-index: 2;
  }

  nav {
    position: absolute;
    right: 6rem;
    width: 42rem;
    border-bottom: 1px solid #243131;
  }
  nav .empty {
    display: none;
  }

  .active,
.active:visited {
    border-bottom: 0.5em solid #ffc400;
  }

  .fab {
    display: none;
  }

  .nav-filler {
    display: none;
  }
}
.head {
  position: relative;
  height: 35vh;
}

.copertina-dsk {
  display: none;
}

.copertina {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.head::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), #fafafa);
}

.head > div {
  position: absolute;
  bottom: 0;
}

h2 {
  margin: 0.6rem 1rem;
  font-weight: 700;
}

.label {
  margin: 0.6rem 1rem;
  display: flex;
}
.label span {
  background-color: #e0e0e0;
  border-radius: 3em;
  padding: 0.1em 0.3em;
  margin: 0.1em;
}

.descrizione {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.6em;
}

.content > p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.enfasi {
  font-weight: bold;
}

.content > img {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}

.cta {
  display: block;
  width: max-content;
  margin: 1.5rem auto;
  border: 1px solid #2188C0;
  border-radius: 25px;
  padding: 0.5em 1em;
}

.anteprime {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.anteprime h4 {
  grid-column: span 4;
}
.anteprime a {
  line-height: 0;
}
.anteprime img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 25rem 50% 1fr;
    grid-template-areas: ". img1 title ." ". img1 desc ." ". img1 p1 ." ". img1 p2 ." ". img3 cta ." ". img3 img2 ." ". img4 img4 ." ". anteprime anteprime .";
  }

  .copertina {
    display: none;
  }

  .copertina-dsk {
    display: initial;
    grid-area: img1;
  }

  .head::before, .head > div {
    all: unset;
  }

  .head {
    grid-area: title;
    height: initial;
    margin-top: 3rem;
  }

  .descrizione {
    grid-area: desc;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .p1 {
    grid-area: p1;
  }

  .p2 {
    grid-area: p2;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
    height: 25rem;
    object-fit: contain;
    justify-self: center;
  }

  .cta {
    grid-area: cta;
    margin-top: auto;
    margin-bottom: auto;
  }

  .anteprime {
    grid-area: anteprime;
  }

  .content p {
    text-align: center;
  }
}

/*# sourceMappingURL=pagina-prodotto.css.map */
