a {
  text-decoration: none;
  color: #0073b1;
}

body {
  margin: 0;
  color: #243131;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

.content {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

p,
h2,
h3,
h4,
blockquote,
section {
  margin: 1em 0.3rem;
}

h2 {
  font-size: 1.2rem;
}

blockquote {
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
}

.emph {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.header-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #f5f5f5;
  box-shadow: 0px 0.1rem 0.1rem #e0e0e0;
}

@media only screen and (min-width: 992px) {
  .header-container {
    border-bottom: 1px solid #243131;
    box-shadow: none;
  }
}
header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 3.5rem;
  padding-right: 0.4rem;
}
header a {
  height: 3.5rem;
  display: flex;
  align-items: center;
}
header img {
  height: 2.5rem;
  margin: 0 0.5rem;
}
header h1 {
  font-size: 1.25rem;
  font-weight: 500;
}
header a:nth-of-type(2) {
  margin-left: auto;
}
header .social {
  height: 1.9rem;
  margin: 0 0.4rem;
}

main {
  position: relative;
  top: 3.5rem;
}

.nav-filler {
  height: 5.5rem;
}

.fab {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #ffc400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab,
.fab:visited {
  color: #fafafa;
  text-decoration: none;
}

.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  height: 3.5rem;
}
.nav-container div {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
}
nav a {
  flex-grow: 2;
  line-height: 3.5rem;
  font-weight: 600;
  text-align: center;
}
nav a,
nav a:visited {
  color: #7d7d7d;
}
nav .empty {
  width: 5.5rem;
  flex-grow: 1;
}
nav .active,
nav .active:visited {
  border-bottom: 0.5em solid #ffc400;
  color: #243131;
}

@media only screen and (min-width: 992px) {
  .nav-container {
    top: -1px;
    z-index: 2;
  }

  nav {
    position: absolute;
    right: 6rem;
    width: 42rem;
    border-bottom: 1px solid #243131;
  }
  nav .empty {
    display: none;
  }

  .active,
.active:visited {
    border-bottom: 0.5em solid #ffc400;
  }

  .fab {
    display: none;
  }

  .nav-filler {
    display: none;
  }
}
.filter-selector {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.filter-selector div {
  cursor: pointer;
  margin: 0.3rem 0.5%;
  padding: 0.5em;
  background-color: #e0e0e0;
  border-radius: 3em;
}
.filter-selector .current {
  background-color: #243131;
  color: #fafafa;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 20rem;
  text-decoration: none;
  color: #243131;
  display: block;
  margin: 0.6rem 0.3rem;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  box-shadow: 0px 0.1rem 0.1rem #e0e0e0;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
}
.card #greentogrow-card-img {
  object-position: center 5%;
}
.card #aimove-card-img, .card #newfloor-card-img {
  object-position: center 15%;
}
.card #onda-card-img {
  object-position: center 30%;
}
.card #qb-card-image, .card #caigo-card-img {
  object-position: center 75%;
}
.card p,
.card h3,
.card .label {
  margin: 0.6rem;
}
.card h3 {
  margin-bottom: 0.3rem;
}
.card p {
  margin-top: 0.3rem;
}
.card .label {
  display: flex;
  justify-content: flex-end;
}
.card .label span {
  display: none;
  background-color: #e0e0e0;
  border-radius: 3em;
  padding: 0.1em 0.3em;
  margin: 0.1em;
}

.grafica-editoriale .label > .grafica-editoriale {
  display: inline-block;
}

.brand-identity .label > .brand-identity {
  display: inline-block;
}

.web-social .label > .web-social {
  display: inline-block;
}

.advertising .label > .advertising {
  display: inline-block;
}

.illustrazione .label > .illustrazione {
  display: inline-block;
}

/*# sourceMappingURL=portfolio.css.map */
