{% assign project = site.data.projects | where: "name", page.project | first %}
<div class="content">
    <div class="head">
        <div>
            <h2>{{ project.name }}</h2>
            <div class="label">
                {% for label in project.labels %}
                <span>{{ label }}</span>
                {% endfor %}
            </div>
        </div>
        <img class="copertina" src="{{ project.cover-img }}" alt="Immagine di copertina di {{ project.name }}" />
    </div>
    <img class="copertina-dsk" src="{{ project.cover-img }}" alt="Immagine di copertina di {{ project.name }}" />
    <p class="descrizione">
        {{ include.description }}
    </p>
    <img class="img2" src="{{ project.images[0].link }}" alt="{{ project.images[0].alt }}">
    <p class="p1">
        {{ include.p1 }}
    </p>
    <img class="img3" src="../images/greentogrow/greentogrow (3).jpg" alt="anteprimaEtimos">
    <p class="p2">
        {{ include.p2 }}
    </p>
    <img class="img4" src="../images/greentogrow/greentogrow%20(4).jpg" alt="Foto di gruppo">
    <div class="anteprime">
        <h4>Guarda gli altri progetti:</h4>
        <a href="../portfolio/aimove.html">
            <img src="../images/aimove/aimove (4).jpg" alt="Aimove" />
        </a>
        <a href="../portfolio/esteticamente.html">
            <img src="../images/esteticamente/esteticamente%20(4).jpg" alt="Esteticamente" />
        </a>
        <a href="../portfolio/fisiologo.html">
            <img src="../images/fisiologo/fisiologo (2).jpg" alt="Fisiologo" />
        </a>
        <a href="../portfolio/newfloor.html">
            <img src="../images/newfloor/newfloor%20(7).jpg" alt="New Floor" />
        </a>
    </div>
    <div class="nav-filler"></div>
</div>