/*
            COMMONS
        */
/* SE LE COSE VANNO STORTE GRID DI EMERGENZA 12 COLONNE */
/* .gridded {
  display: grid;
  grid-template-columns: repeat(12, 8.333%);
} */

body {
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.padding-conteiner {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #f2b604;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
  color: red;
}

h3 {
  font-weight: lighter;
  font-size: 1rem;
  color: greenyellow;
}

p {
  font-family: "Lato", "Open Sans", "Roboto", sans-serif;
  font-weight: lighter;
  color: #434143;
}

button {
  height: 3em;
  border-radius: 1.5em;
  border: lightgrey;
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #434143;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 1em;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.iconbutton-row {
  display: grid;
}

.iconbutton {
  grid-row: 1/2;
  justify-self: center;
  text-align: center;
}

.iconbutton img {
  width: 4rem;
}

.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* DA SISTEMARE */
.iconbutton:link,
.iconbutton:visited {
  text-decoration: none;
  /*color: #032ba5;*/
}

.iconbutton:hover {
  color: #f2b604;
  text-decoration-line: line-through;
}

#sidebutton {
  position: absolute;
  top: 7rem;
  bottom: 0;
  right: 0;
  width: 17%;
}

#pulsanteContatti {
  position: absolute;
  top: 3rem;
  right: 50%;
  margin-right: -3rem;
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 50%;
}

/* questo è un brekpoint */
@media screen and (max-width: 1440px) {
  #pulsanteContatti {
    display: none;
  }
  #sidebutton {
    display: none;
  }
}

#btornasu {
  display: none;
  background-color: transparent;
  border: 1px solid lightgrey;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  /* Width legata al margin-left più in basso */
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 5vh;
  /* Mettendolo distante da destra del 50% e poi "spostandolo" di metà della sua larghezza con il margin negativo
              diventa centrato */
  left: 50%;
  margin-left: -1.5rem;
  background-color: white;
}

.tablinks {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: initial;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.inactive {
  display: none;
}

/*
  HEADER
*/
header {
  border-bottom: 1px solid lightgrey;
}

#content-header {
  display: grid;
  grid-template-areas: "logo nav social";
  grid-template-columns: 7rem auto 7rem;
}

.central {
  max-width: 1024px;
  margin: auto;
}

#logo-header {
  /* fa coppia con margin-left */
  max-width: 6rem;
  margin-left: 1rem;
  /* fa coppia con il padding sotto */
  max-height: 6.2rem;
  padding: 0.4rem 0;
}

nav {
  grid-area: nav;
  align-self: center;
  justify-self: center;
}

nav a {
  margin: auto 0.5rem;
  font-family: "Josefin Sans", "Montserrat", "Raleway", sans-serif;
  font-weight: lighter;
  text-decoration-line: none;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #032ba5;
}

nav a:hover {
  color: #f2b604;
  text-decoration-line: line-through;
}

#social-header a {
  display: inline-block;
  margin-left: 0.5rem;
}

#social-header,
#social-header img {
  height: 2rem;
}

#social-header {
  grid-area: social;
  align-self: center;
  justify-self: end;
  margin-right: 1rem;
}

#hamburger {
  display: none;
  grid-area: hamburger;
  width: 3rem;
  align-self: center;
  justify-self: end;
  margin-right: 1rem;
}

/* Header per dispositivi mobile */
@media screen and (max-width: 948px) {
  #content-header {
    grid-template-areas: "social logo hamburger" "nav nav nav";
    grid-template-rows: 5rem auto;
  }
  #logo-header {
    justify-self: center;
    height: 4.2rem;
    margin-left: 0;
  }
  #hamburger {
    display: initial;
  }
  nav a {
    display: block;
    margin: 1rem;
    font-family: "Josefin Sans", "Montserrat", "Raleway", sans-serif;
    font-weight: lighter;
    text-decoration-line: none;
    text-align: center;
  }
  nav {
    justify-self: center;
  }
}
.closed-header {
  height: 0;
  overflow: hidden;
}
.open-header {
  animation: open-header 0.8s ease forwards;
}

@keyframes open-header {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}
/*
            FOOTER
         */
footer {
  background-color: #dee1f2;
}

#content-footer {
  display: flex;
  justify-content: space-between;
}

#footer-txt {
  margin: auto;
  height: 100%;
}

footer p {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: lighter;
  color: #032ba5;
  text-align: center;
}

footer .empty,
footer img {
  width: 6.6rem;
  padding: 0.4rem 0;
}

/* footer per dispositivi mobile */
@media screen and (max-width: 948px) {
  #logo-footer {
    width: 4.2rem;
    margin: 1rem;
  }
  }
 
  
