body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 40em 40em auto;
  /* grid-template-columns: 15% 35% 35% 15%; */
}

header {
  background-color: white;
  grid-column: 1/5;
  grid-row: 1;
  border-bottom: 1px solid grey;
  min-height: 3em;
  max-height: 5vh;
}

.navul {
  text-align: center;
}

li.menuElement {
  display: inline;
  font-family: "Josefin Sans", "Montserrat", "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  list-style: none;
  text-decoration-line: none;
  margin: 0.5em;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: #032ba5;
}

a:hover {
  color: #f2b604;
  text-decoration-line: line-through;
}

main {
  background-color: white;
  grid-column: 2/4;
}

img.gallerymain {
  display: block;
  height: 95vh;
  margin: auto;
}

h1 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: lighter;
  color: #f2b604;
  text-align: left;
  height: 100vh;
  background-color: lightgray;
}

.pmain {
  font-family: "Lato", "Open Sans", "Roboto", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  color: #434143;
}

footer {
  background-color: #f8eb5a;
  grid-column: 1/5;
  height: 7.5em;
}

.pfooter {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-size: 1em;
  font-weight: lighter;
  color: #032ba5;
  text-align: center;
}

div.logofooter {
  background-color: white;
  grid-column: 4/5;
  height: 3.5em;
}
