/*
  GALLERIA
*/
#galleria {
  height: 89vh;
 
  display: grid;
}

#background-galleria {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  margin: auto 0;
  max-width: 100%;
  max-height: 100%;
}

#logo-scritta {
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
  letter-spacing: 30;
}

#logo-scritta2{
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 500;
  letter-spacing: -55;
}

/* logo + animazione */
#logo-home {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  /* fa coppia con margin-left */
  max-width: 30rem;
  /* fa coppia con il padding sotto */
  max-height: 30rem;
 
  animation: rotation 2s ease;
  -webkit-animation: rotation 2s ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
  }
}

/*
  DESCRIZIONE
*/
#descrizione {
  padding: 4rem 1em;
  background-color:  #FFE64D;
}

#descrizione>p {
  padding-top: 1rem;
}

#sottodescrizione {
  max-width: 50em;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

#sottodescrizione img {
  height: 15rem;
  padding: 1rem;
}

#sottodescrizione div {
  height: 100%;
  margin: auto 1rem;
}

/*
  PORTFOLIO
*/
#portfolio {
  padding: 1rem 0;
  text-align: center;
}

#portfolio-grid-img {
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 32% 32% 32%;
  grid-row-gap: 2.5%;
  margin: 2rem 1rem;
}

#portfolio-grid-img img {
  width: 100%;
}

.grow:hover
{
        -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
        transform: scale(1.08);
        transition: .4s ease;
  
}
/*
  AGGIORNAMENTI
*/
#aggiornamenti {
  padding: 4rem 1rem;
  margin: auto;
  max-width: 65em;
  display: grid;
  grid-template-columns: min-content 60% auto;
  grid-template-areas:
    "logo title   img"
    "content content img";
}

#aggiornamenti h2 {
  grid-area: title;
}

#logo-aggiornamenti {
  grid-area: logo;
  height: 3rem;
  justify-self: start;
  padding: 1em;
}

#img-aggiornamenti {
  grid-area: img;
  width: 100%;
}

#contenuto-aggiornamenti {
  grid-area: content;
}






/* BREKPOINT */
/* 1440px */


/* 950px */
@media screen and (max-width:950px) {
  #galleria {
    height: auto;
  }
}

/* 870px */
@media screen and (max-width: 870px) {
  #pulsanteContatti {
    display: none;
  }
  #sidebutton {
    display: none;
  }

  #aggiornamenti {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "logo"
      "h2"
      "p"
      "img-aggiornamenti";
  }

  #aggiornamenti h2 {
    grid-area: h2;
    justify-self: center;
  }

  #logo-aggiornamenti {
    grid-area: logo;
    justify-self: center;
  }


  #img-aggiornamenti {
    grid-area: img-aggiornamenti;
    width: 50%;
    justify-self: center;
  }

  #contenuto-aggiornamenti {
    grid-area: p;
    justify-self: center;
  }
}
