body {
  margin: 0;
  overflow-x: hidden;
}

/* TODO: Cosa succede se non attivo javascript? è il comportamento che voglio? */
#sidebutton {
  position: absolute;
  top: 7rem;
  bottom: 0;
  right: 5vw;
  text-align: center;
}

#pulsanteContatti {
  margin-top: 3rem;
  width: 8rem;
  height: 8rem;
}

#btornasu {
  display: none;
  margin: auto;
  background-color: transparent;
  border: 1px solid lightgrey;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  /* Width legata al margin-left più in basso */
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 5vh;
  /* Mettendolo distante da destra del 50% e poi "spostandolo" di metà della sua larghezza con il margin negativo
    diventa centrato */
  left: 50%;
  margin-left: -1.5rem;
}

/*QUI INIZIA MAIN CON UNA SUA GRID DIVISO A SUA VOLTA IN DIV, STRUTTURA VALIDA PER TUTTE LE PAGINE */
main {
  width: 100%;
}

.gridded {
  width: 100%;
  grid-column: 1/15;
  display: grid;
  /* i 6.5rem non sono casuali, sono coerenti con la dimensione della colonna settata nel body */
  grid-template-columns: auto 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem auto;
}

h1 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #f2b604;
  margin-top: 8rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #f2b604;
}

h3{
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
  sans-serif;
font-weight: bolder;
color: #f2b604;
}

p {
  font-family: "Lato", "Open Sans", "Roboto", sans-serif;
  font-weight: lighter;
  color: #434143;
}

button {
  height: 3em;
  width: 6em;
  border-radius: 3em;
  border: lightgrey;
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #434143;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 1em;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/*PAGINA HOME*/
/*DIV1*/
#div1home {
  grid-column: 1/15;
  background-color: aliceblue;
  height: 86vh;
  padding: 1vh;
  text-align: center;
}

#div1home img {
  max-width: 100%;
  max-height: 100%;
}

/*DIV2*/
#div2home {
  background-color: white;
}

#h1div2home {
  grid-column: 2/13;
}

#pdescrizione {
  grid-column: 2/13;
}

#imgfotome {
  max-width: 100%;
  grid-column: 5/7;
  align-self: center;
  margin-bottom: 8rem;
}

#divsudime {
  grid-column: 7/11;
  align-self: center;
  margin-left: 3rem;
  margin-bottom: 8rem;
}

/*DIV3*/
#div3home {
  background-color: aliceblue;
}

#h2div3home {
  grid-column: 2/14;
  justify-self: center;
  margin-top: 4rem;
}

#pdescrizionePortfolio {
  grid-column: 2/14;
  justify-self: center;
}

.imgportfolio {
  max-width: 96%;
  /* attenzione a modificare i margini */
}

.imgleft {
  grid-column: 2/6;
  max-width: 96%;
  margin: 3% 4% 3% 0;
}

.imgcenter {
  grid-column: 6/10;
  margin: 3% 2%;
}

.imgright {
  grid-column: 10/14;
  margin: 3% 0 3% 4%;
}

.sezioni {
  margin-top: 3rem;
}

.sezioni img {
  width: 80%;
  height: 80%;
  justify-self: center;
}

#sezioneGrafica {
  grid-column: 4/5;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#sezioneIllustrazione {
  grid-column: 6/7;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#sezioneFumetto {
  grid-column: 9/10;
}

#sezioneFotografia {
  grid-column: 11/12;
}

.sezionitesto {
  font-family: "Lato", "Open Sans", "Roboto", sans-serif;
  font-weight: lighter;
  color: #434143;
  justify-self: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
}

#grafica {
  grid-column: 4/5;
}

#illustrazione {
  grid-column: 6/7;
}

#fumetto {
  grid-column: 9/10;
}

#fotografia {
  grid-column: 11/12;
}

/*DIV4*/
#div4home {
  background-color: white;
}

#h2div4home {
  grid-column: 4/6;
  margin-top:11rem;
  margin-bottom: 0rem;
}

#simbolodiv4home {
  grid-column: 3/4;
  width: 3rem;
  margin-top:10rem;
}

#divaggiornamenti {
  grid-column: 3/6;
  align-self: center;
  margin-left: 3rem;
  justify-self: start;
  margin-bottom: 10rem;
}

#imgaggiornamenti1{
grid-column: 9/13;
grid-row: span 2;
max-width: 100%;
align-self: center;
margin-top:4rem;
}

/*PAGINA SU DIME*/
/*DIV1*/
#div1sudime {
  background-color: white;
}

#h1div1sudime{
  grid-column: 2/12;
  margin-bottom:10rem;
}

#h3div1sudime{
grid-column: 6/11;
margin:0rem;
}

#fotome2{
  grid-column: 2/5;
  grid-row: span 3;
}

#loghisudime {
  grid-column: 6/12;
  display: grid;
}

#pdescrizionesudime{
  grid-column: 6/12;
}

.imgloghisudime{
  width: 4rem;
}

#imglogo1{
  grid-column: 1/2;
  justify-self: center;
}

#imglogo2{
  grid-column: 2/3;
  justify-self: center;
}

#imglogo3{
  grid-column: 3/4;
  justify-self: center;
}

#imglogo4{
  grid-column: 4/5;
  justify-self: center;
}

#pdescrizione1{
  grid-column: 1/2;
  justify-self: center;
}

#pdescrizione2{
  grid-column: 2/3;
  justify-self: center;
}

#pdescrizione3{
  grid-column: 3/4;
  justify-self: center;
}

#pdescrizione4{
  grid-column: 4/5;
  justify-self: center;
}

/*DIV2*/
#divsudime {
  background-color: white;
}

#h2div1sudime{
grid-column: 2/12;
margin:0rem;
}

#fotome2{
  grid-column: 2/5;
  grid-row: span 4;
}

#pdescrizionesudime{
  grid-column: 6/12;
}