body {
  margin: 0;
  overflow-x: hidden;
}

#sidebutton {
  position: absolute;
  top: 7rem;
  bottom: 0;
  right: 5vw;
  text-align: center;
}

#pulsanteContatti {
  margin-top: 3rem;
  width: 8rem;
  height: 8rem;
}

#btornasu {
  display: none;
  margin: auto;
  background-color: transparent;
  border: 1px solid lightgrey;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  /* Width legata al margin-left più in basso */
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 5vh;
  /* Mettendolo distante da destra del 50% e poi "spostandolo" di metà della sua larghezza con il margin negativo
    diventa centrato */
  left: 50%;
  margin-left: -1.5rem;
}

/*QUI INIZIA MAIN CON UNA SUA GRID DIVISO A SUA VOLTA IN DIV, STRUTTURA VALIDA PER TUTTE LE PAGINE */
main {
  width: 100%;
}

.gridded {
  width: 100%;
  grid-column: 1/15;
  display: grid;
  /* i 6.5rem non sono casuali, sono coerenti con la dimensione della colonna settata nel body */
  grid-template-columns: auto 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem auto;
}

h1 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #f2b604;
  margin-top: 8rem;
  grid-column: 2/14;
}

h2 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #f2b604;
  margin-top:4rem;
  grid-column: 2/14;
}

h3 {
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #f2b604;
}

p {
  font-family: "Lato", "Open Sans", "Roboto", sans-serif;
  font-weight: lighter;
  color: #434143;
}

button {
  height: 3em;
  width: 6em;
  border-radius: 3em;
  border: lightgrey;
  font-family: "Josefin Sans", sans-serif, "Montserrat", sans-serif, "Raleway",
    sans-serif;
  font-weight: bolder;
  color: #434143;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 1em;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.tablinks {
  background-color: #f1f1f1;
  /* float: left; */
  width: 100%;
  border-radius: initial;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.inactive {
  display: none;
}

.fourgrid {
  width: 4rem;
}

.fourgrid1 {
  grid-column: 1/2;
  justify-self: center;
}

.fourgrid2 {
  grid-column: 2/3;
  justify-self: center;
}

.fourgrid3 {
  grid-column: 3/4;
  justify-self: center;
}

.fourgrid4 {
  grid-column: 4/5;
  justify-self: center;
}

.fourgriddesc1 {
  grid-column: 1/2;
  justify-self: center;
}

.fourgriddesc2 {
  grid-column: 2/3;
  justify-self: center;
}

.fourgriddesc3 {
  grid-column: 3/4;
  justify-self: center;
}

.fourgriddesc4 {
  grid-column: 4/5;
  justify-self: center;
}
