#container-mainblock {
    background-color: aliceblue;
    padding: 4rem;
}

#mainblock-content {
    display: flex;
    width: 100%;
}

#mainblock-content > img {
    width: 70%;
    margin: 1rem;
}

#container-secondary {
    background-color: gainsboro;
    padding: 4em;
}

#secondary {
    display: flex;
}

#secondary > img {
    width: 50%;
    padding: 1rem;
}

#secondary > p {
    width: 50%;
    padding: 0 7rem;
    margin: auto 0;
}

#container-tertiary {
    background-color: aliceblue;
    padding: 4em;
}

#tertiary {
    display: flex;
}

#tertiary > img {
    width: 50%;
    padding: 1rem;
}

#sezioni {
    padding: 2rem;
}