/* SERVIZI */
#content-servizi > h2 {
  grid-area: title;
}

#content-servizi > p {
  grid-area: content;
}

#content-servizi > .iconbutton-row {
  grid-area: icons;
  margin: 2em 0;
}

/* IMMAGINI */

#immagini-grid-img {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.imggrafica {
    width: 100%;
    height: 100%;
}

.container-immaginiclasse {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background:white;
  color: #f1f1f1; 
  width: 100%;
  height: 100%;
  transition: .4s ease;
  opacity:0;
  color:green;
  font-size: 1.5rem;
  text-align: start;
}

.container-immaginiclasse:hover .overlay {
  opacity: 0.7;
}

/* PULSANTIERA */
#container-pulsantierasezioni {
  background-color: #FAE26B;
}

/* BREKPOINT */

  /* 1024px */
  @media screen and (max-width: 1024px) {
    #container-servizi {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    }
