/* DESCRIZIONE */
#container-descrizione {
  background-color: white;
}

#content-descrizione {
  display: grid;
  grid-template-areas:
    "img title"
    "img content"
    "img icons";
}

#content-descrizione > img {
  width: 15rem;
  grid-area: img;
  align-self: center;
}

#content-descrizione > h2 {
  grid-area: title;
}

#content-descrizione > p {
  grid-area: content;
}

#content-descrizione > .iconbutton-row {
  grid-area: icons;
  margin: 2em 0;
}

#content-descrizione > h2,
#content-descrizione > p,
#content-descrizione > .iconbutton-row {
  margin-left: 4vw;
}

/* FORMAZIONE */
#container-formazione {
  background-color: #f2b604;
}

#illustrazionesudime {
  width: 100%;
}

/* COMPETENZE PROFESSIONALI E PERSONALI */
#container-competenze-prof-pers {
  background-color: aquamarine;
}

#tabcontent {
  display: grid;
  grid-template-areas:
    "profh persh"
    "profb persb";
  grid-auto-columns: 50%;
}

#tabhead-prof {
  grid-area: profh;
}

#tabhead-pers {
  grid-area: persh;
}

#competenze-professionali {
  grid-area: profb;
}

#competenze-personali {
  grid-area: persb;
}

/* COMPETENZE INFORMATICHE */
#container-competenze-informatiche {
  background-color: antiquewhite;
}

#h2competenzeinformatiche {
  padding-bottom: 6rem;;
}

#content-competenze-informatiche {
  display: grid;
  grid-template-areas:
    "linea-competenza1 linea-competenza2"
    "competenze1 competenze2";
  grid-auto-columns: 50%;
}

#linea-competenza1 {
  grid-area: "linea-competenza1";
}

#linea-competenza2 {
  grid-area: "linea-competenza2";
}

.slider-container {
  position: relative;
  height: 3rem;
  margin: 1rem;
}

.slider-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  border-bottom: 1px solid black;
}

.slider-cursor {
  border: 1px solid black;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  margin-top: -0.6em;
  margin-left: -0.6em;
  background-color: blue;
}

#linea-competenza1 > .slider-cursor {
  left: 80%;
}

#linea-competenza2 > .slider-cursor {
  left: 30%;
}

.animate {
  animation: animate 0.8s ease forwards;
}

@keyframes animate {
  from {
    left: 0%;
  }

  to {
    left: 80;
  }
}

/* ALTRI INTERESSI */

#container-altriinteressi {
  background-color: coral;
}

#h2altriinteressi {
  padding-bottom: 6rem;;
}

/* PULSANTIERA SEZIONI */

#container-pulsantierasezioni {
  background-color: darkgray;
}



