/* PAGINA GRAFICA */
/* DIV1 */
#div1grafica {
  background-color: white;
}

#loghigrafica {
  grid-column: 3/13;
  display: grid;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#pgrafica {
  grid-column: 2/14;
}

/* DIV2 */
#div2grafica {
  background-color: white;
  display: grid;
  grid-auto-columns: 25vh;
}

.imggrafica {
  max-width: 25vh;
}
.imgleft {
grid-columns: 1/2;
}

.imgcentera {
    grid-columns: 2/3;
}

.imgcenterb {
    grid-columns: 3/4;
}

.imgright {
  grid-columns: 4/5;
}

.mgleft2 {
    grid-columns: 1/2;
}


.centera2 {
    grid-columns: 2/3;
}

.centerb2 {
    grid-columns: 3/4;
}

.right2 {
    grid-columns: 4/5;
}

/* .hovertexth3 {
}

.hovertext {
} */
