/* PAGINA GRAFICA */
/* DIV1 */
#div1grafica {
  background-color: white;
}

#loghigrafica {
  grid-column: 3/13;
  display: grid;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#pgrafica {
  grid-column: 2/14;
}

/* DIV2 */
#div2grafica {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 25vw);
}

#div2grafica img {
  width: 100%;
}

/* DIV3 */
#div3grafica {
  display: flex;
}

#div3grafica img {
  width: 25vw;
}
