#container-mainblock {
  background-color: aliceblue;
  padding: 4rem;
}

#mainblock-content {
  display: grid;
  width: 100%;
  grid-template-areas: "title title" "text image";
  grid-template-columns: 25% 75%;
}

#mainblock-content > h1 {
  grid-area: title;
}
#mainblock-content > p {
  grid-area: text;
  padding-right: 3rem;
}

#mainblock-content > img {
  grid-area: image;
  width: 100%;
}

#container-secondary {
  background-color: gainsboro;
  padding: 4em;
}

#secondary {
  display: grid;
  width: 100%;
  grid-template-areas: "img text";
  grid-template-columns: 50% 50%;
}

#secondary > img {
  width: 100%;
  grid-area: img;
}

#secondary > p {
  grid-area: text;
  margin: auto 0;
  padding-left: 5rem;
}

#container-tertiary {
  background-color: aliceblue;
  padding: 4em;
}

#tertiary {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}

#tertiary > img {
  width: 95%;
  justify-self: center;
  align-self: center;
}

#sezioni {
  padding: 2rem;
}
