@media screen and (max-width: 975px) {
    #container-servizi > .central {
        margin: 0 1rem;
    }

    #immagini-grid-img {
        grid-template-columns: auto auto;
    }

    .container-immaginiclasse p {
        display: none;
    }
}