/* BREAKPOINT */

/* 425px */
@media screen and (max-width: 768px) {
    #galleria {
        display: none;
    }

    #background-galleria {
        display: none;
    }

    #logo-home {
        display: none;
    }

    #logo-scritta-mobile {
        display: none;
    }

    #logo-scritta2-mobile {
        display: none;
    }

    #galleria-mobile {
        display: grid;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 100%;
    }

    #background-galleria-mobile {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto 0;
        max-width: 100%;
        max-height: 100%;
    }

    #logo-home-mobile {
        display: block;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 1rem;
        justify-self: center;
        height: 40vw;
        width: 40vw;
    }

    #logo-home-mobile img {
        animation: rotation 2s ease;
        -webkit-animation: rotation 2s ease;
    }

    #intro {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    .virgolette {
        font-weight: 900;
        font-size: 1.5rem;
    }

    .italo {
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
    }

    #descrizione {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #sottodescrizione {
        display: none;
    }

    #sottodescrizione-mobile {
        display: grid;
        grid-template-areas: "img" "text-sottodescrizione-mobile";
        padding: 0;
    }

    #sottodescrizione-mobile img {
        grid-area: img;
        height: 10rem;
        justify-self: center;
    }

    #sottodescrizione-mobile div {
        grid-area: text-sottodescrizione-mobile;
    }

    #portfolio {
        padding-top: 0;
    }

    #portfolio-grid-img {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-column-gap: 4%;

    }

    #portfolio-grid-img img {
        width: 100%;
    }

    .grow:hover {
        -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
        transform: scale(1.08);
        transition: 0.4s ease;
    }

    #aggiornamenti-container {
        padding: 1rem;
    }

    #aggiornamenti {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "img" "title" "content";
    }

    #img-aggiornamenti {
        width: 50%;
    }

    form {
        text-align: center;
    }

    form button {
        width: 60%;
    }
}