#mainblock {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4rem 0;
}

#mainblock > img, #content {
    grid-row: 1/2;
}
#mainblock > img {
    width: 100%;
}

#content {
    margin: auto 0 auto 6rem;
}

.iconbutton-row {
    margin: 2rem auto;
}

#social-main {
    display: flex;
    justify-content: center;
}

#social-main a {
    display: inline-block;
    margin: 0 2rem;
}

#social-main,
#social-main img {
    height: 4rem;
}

#sezioni {
    padding: 2rem;
}


/* breakpoint 1024px */
@media screen and (max-width: 1024px) {
#content {
    padding-left: 1rem;
    padding-right: 1rem;
}
}

/* breakpoint 740px */
@media screen and (max-width: 740px) {
    #mainblock {
        display: grid;
        grid-template-areas: "img" "text" "icon";
        grid-template-columns: 100%;
    }
    
    #mainblock > img {
        width: 50%;
        grid-area: img;
        justify-self: center;
    }
    
    #content {
      grid-area: text;
      margin-left: 0;
    }
    
    .iconbutton-row {
       grid-area: icon;
       justify-self: center;
    }

    
    #social-main,
    #social-main img {
       display: none;
    }
}