/* DESCRIZIONE */
#content-descrizione {
    display: grid;
    grid-template-areas: "img title" "img content" "img icons";
}

#content-descrizione > img {
    width: 15rem;
    grid-area: img;
    align-self: center;
}

#content-descrizione > h2 {
    grid-area: title;
}

#content-descrizione > p {
    grid-area: content;
}

#content-descrizione > .iconbutton-row {
    grid-area: icons;
    margin: 2em 0;
}

/* FORMAZIONE */
#container-formazione {
    background-color: #fae26b;
}

#grid-formazione {
    display: grid;
    grid-template-areas: "title title" "testo img" "testo img" "testo img";
    grid-auto-columns: 40% 60%;
    padding-bottom: 2rem;
}

#grid-formazione > h2 {
    grid-area: title;
}

#testo-formazione {
    grid-area: testo;
}

#illustrazionesudime {
    width: 100%;
    grid-area: img;
}

/* COMPETENZE PROFESSIONALI E PERSONALI */
/* tab */

.tablinks {
    background-color: #2d28ad;
    width: 100%;
    border-radius: initial;
    border: none;
    cursor: pointer;
    /*padding: 16px 18px;*/
    transition: 0.3s;
}


.tabcontent {
    padding: 1rem 2rem;
    border: 1px solid #f9f9f9;
    background-color: #f2f2f2;
    border-top: none;
}

.tabcontent.inactive {
    display: none;
}

#tabcontent {
    display: grid;
    grid-template-areas: "profh persh" "profb persb";
    grid-auto-columns: 50%;
}

#tabhead-prof {
    grid-area: profh;
}

#tabhead-pers {
    grid-area: persh;
}

#competenze-professionali {
    grid-area: profb;
}

#competenze-personali {
    grid-area: persb;
}

/* COMPETENZE INFORMATICHE */
#content-competenze-informatiche {
    display: grid;
    grid-template-areas: "linea-competenza1 linea-competenza2" "competenze1 competenze2";
    grid-auto-columns: 50%;
}

#linea-competenza1 {
    grid-area: linea-competenza1;
}

#linea-competenza2 {
    grid-area: linea-competenza2;
}

.slider-container {
    position: relative;
    height: 3rem;
    margin: 1rem;
}

.slider-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    border-bottom: 1px solid #2d28ad;
}

.slider-cursor {
    border: 1px solid #0704ac;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
    margin-left: -0.6em;
    background-color: #0704ac;
}

#linea-competenza1 > .slider-cursor {
    left: 90%;
}

#linea-competenza2 > .slider-cursor {
    left: 45%;
}

.animate {
    animation: animate 0.8s ease forwards;
}

.animate2 {
    animation: animate2 0.8s ease forwards;
}

@keyframes animate {
    from {
        left: 0;
    }

    to {
        left: 90%;
    }
}

@keyframes animate2 {
    from {
        left: 0;
    }

    to {
        left: 45%;
    }
}

/* ALTRI INTERESSI */
#h2altriinteressi {
    padding-bottom: 2rem;
}

#container-altriinteressi {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

