@media screen and (max-width: 975px) {
    #container-descrizione,
    #container-formazione,
    #container-competenze-prof-pers,
    #container-competenze-informatiche,
    #container-altriinteressi {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #content-descrizione {
        display: grid;
        grid-template-areas: "title" "img" "text" "icon";
    }

    #content-descrizione > img {
        width: 50%;
        grid-area: img;
        justify-self: center;
    }

    #content-descrizione > h2 {
        grid-area: title;
    }

    #content-descrizione > p {
        grid-area: text;
        margin: 1rem 0 0;
    }

    #content-descrizione > .iconbutton-row {
        grid-area: icon;
        margin: 1rem 0 0;
    }

    #grid-formazione {
        grid-template-areas: "title" "testo" "img";
        grid-auto-columns: 100%;
        padding-bottom: 2rem;
    }

    #tabcontent {
        grid-template-areas: "profh" "profb" "persh" "persb";
        grid-auto-columns: 100%;
    }

    #tabhead-pers {
        margin-top: 1rem;
    }

    #content-competenze-informatiche {
        grid-template-areas: "linea-competenza1" "competenze1" "linea-competenza2" "competenze2";
        grid-auto-columns: 100%;
    }

    #container-altriinteressi {
        display: none;
    }
}
