$app-bar-height: 3.5rem;

$default-font: "Lato", sans-serif;
$margin-small: 0.3rem;

$accent-color-dark: #ffb300;
$accent-color: #fdd835;
$text-color: #262626;
$whitey: #fafafa;
$less-whitey: #f5f5f5;
$grey: #e0e0e0;

@mixin font-title {
  font-family: $default-font;
  font-size: 1.25rem;
}

body {
  margin: 0;
  color: $text-color;
  font-family: $default-font;
  background-color: $whitey;
}

p {
  margin: 1rem $margin-small;
}

.emph {
  font-weight: bold;
}
.light {
  font-weight: 300;
}

$shadow: 0px 0.1rem 0.1rem $grey;
