@use 'base';

$logo-margin: 0.5rem;
$social-icon-margin: 0.8rem;

.header-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: base.$app-bar-height;
  background-color: base.$less-whitey;

  box-shadow: base.$shadow;
}

@media only screen and (min-width: base.$desktop-breakpoint) {
  .header-container {
    border-bottom: 1px solid base.$text-color;
    box-shadow: none;
  }
}

header {

  display: flex;
  align-items: center;

  position: relative;
  width: 100%;
  max-width: 1024px;
  margin:auto;
  height: base.$app-bar-height;


  a {
    height: base.$app-bar-height;
    display: flex;
    align-items: center;
  }

  img {
    height: base.$app-bar-height - 2 * $logo-margin;
    margin: 0 $logo-margin;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  a:nth-of-type(2) {
    margin-left: auto;
  }

  .social {
    height: base.$app-bar-height - 2 * $social-icon-margin;
    margin: 0 $social-icon-margin/2;
  }

  padding-right: $social-icon-margin/2;
}

main {
  position: relative;
  top: base.$app-bar-height;
}
