@use 'base';

$fab-margin: 1.5rem;
$fab-size: 2 * (base.$app-bar-height - $fab-margin);
// $pseudo-size: 10px;
// $background-color: #f5f5f5;

.nav-filler {
  height: base.$app-bar-height + 0.5 * $fab-size;
}

.fab {
  position: fixed;
  right: $fab-margin;
  bottom: $fab-margin;
  height: $fab-size;
  width: $fab-size;
  border-radius: 50%;
  background-color: base.$accent-color;
  // display, align e justify servono a centrare l'icona
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab,
.fab:visited {
  color: base.$text-accent-color;
  text-decoration: none;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid base.$grey;
  background-color: base.$less-whitey;
  height: base.$app-bar-height;

  // display: flex per visualizzare in orizzontale
  display: flex;
  a {
    // flex-grow serve a regolare la spaziatura con div vuoto che fa da segnaposto per il fab
    flex-grow: 2;
    // line-height allinea il testo verticalmente
    line-height: base.$app-bar-height;

    text-align: center;
    @include base.alternate-font;
  }
  a,
  a:visited {
    color: base.$text-color;
  }

  .empty {
    width: $fab-size + $fab-margin;
    flex-grow: 1;
  }

  .active,
  .active:visited {
    background-color: #616161;
    border-bottom: 2px solid base.$accent-color;
    color: base.$less-whitey;
    // color: base.$accent-color;
  }
}
