@use 'base';
@use 'header';
@use 'nav';
@use 'main-logo';

.intro-emozionale {
    font-size: 1.2rem;
}

.intro-emozionale:first-letter {
//   float: left;
  font-size: 2em;
  margin-right: -.1em;
  line-height: 1em;
}
