@use 'base';
@use 'header';
@use 'nav';


.head {
  position: relative;
  height: 35vh;
}

.copertina-dsk {
  display: none;
}

.copertina {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.head::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
}

.head > div {
  position: absolute;
  bottom: 0;
}

h2 {
  margin: base.$margin-medium base.$margin-large;
  font-weight: 700;
}

.label {
  margin: base.$margin-medium base.$margin-large;
  display: flex;

  span {
    background-color: base.$grey;
    border-radius: 3em;
    padding: 0.1em 0.3em;
    margin: 0.1em;
  }
}

.descrizione {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.6em;
}

.content > p {
  margin-left: base.$margin-large;
  margin-right: base.$margin-large;
}

.enfasi {
  font-weight: bold;
}

.content > img {
  box-sizing: border-box;
  width: 100%;
  padding: base.$margin-large;
}

.cta {
  display: block;
  width: max-content;
  margin: base.$margin-xlarge auto;
  border: 1px solid #2188C0;
  border-radius: 25px;
  padding: .5em 1em;
}

.anteprime {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  h4 {
    grid-column: span 4;
  }

  a {
    // a sarebbe più grande dell'immagine contenuta. Così la avvolge perfettamente
    line-height: 0;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: base.$desktop-breakpoint) {
  .content {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-areas:
            "img1 title"
            "img1 desc"
            "img1 p1"
            "img3 img2"
            "img3 p2"
            "img3 cta"
            "img4 img4"
            "anteprime anteprime";
  }
  .copertina {
    display: none;
  }
  .copertina-dsk {
    display: initial;
    grid-area: img1;
  }
  .head::before, .head > div {
    all: unset;
  }
  .head {
    grid-area: title;
    height: initial;
  }
  .descrizione {
    grid-area: desc;
  }
  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
  .cta {
    grid-area: cta;
  }
  .anteprime {
    grid-area: anteprime;
  }

}

@media only screen and (min-width: base.$max-content-width + 48px) {
  .content > img {
    padding-left: 0;
  }
}